<div class="desktop-only">
  <img src="assets/main.png" width="100" (click)="returnHome()">
  <div class="links">
    <a href="/work">Work</a>
    <a href="/educational-projects">Educational Projects</a>
    <a href="mailto:neutronblast.dev@gmail.com">Contact</a>
  </div>
</div>

<div class="mobile-only">
  <img src="assets/main.png" width="100">
  <div class="links-mobile">
    <button nbButton ghost>
      <nb-icon icon="menu" status="basic"
               [nbContextMenu]="items" nbContextMenuTag="options"
               ngDefaultControl></nb-icon>
    </button>
  </div>
</div>
