<div class="desktop-only">
  <div class="pattern-background">
      <div class="row">
        <img src="assets/picrew-3.png" width="100">
        <p class="quote">"Every sunrise brings a chance to
          grow, inspire, and conquer."</p>
      </div>
  </div>
  <div class="links">
    <a routerLink="/work">Work</a>
    <a routerLink="/educational-projects">Educational Projects</a>
    <a href="mailto:neutronblast.dev@gmail.com">Contact</a>
  </div>
</div>


<div class="mobile-only">
  <img src="assets/picrew-3.png" width="100">
  <div class="links">
    <a routerLink="/work">Work</a>
    <a routerLink="/educational-projects">Educational Projects</a>
    <a href="mailto:neutronblast.dev@gmail.com">Contact</a>
  </div>
</div>
