<div class="projects">
  <div class="projects-content">
    <p class="featured-projects-title">Featured Projects</p>
    <p class="featured-projects-description">Featured projects I've worked on. Want to see more?
      <a href="mailto:neutronblast.dev@gmail.com">Contact me</a>
      <br><br>
    </p>

    <div class="project-row">
      <div class="project">
        <img src="assets/pokergpt.png" width="75">
        <p class="project-title">PokerGPT</p>
        <p class="project-description">AI application that calculates the best
          possible poker move</p>
        <br>
      </div>

      <div class="project">
        <img src="assets/main.png" width="75">
        <p class="project-title">RTrader</p>
        <p class="project-description">Trading bot for Forex and Cryptocurrency</p>
        <br>
      </div>

      <div class="project">
        <img src="assets/chatlogic.png" width="75">
        <p class="project-title">ChatLogic</p>
        <p class="project-description">Chatbot intended for technical support for
          Shocklogic products</p>
        <br>
      </div>
    </div>

    <div class="project-row">
      <div class="project">
        <img src="assets/nd.png" width="75">
        <p class="project-title">Netdoc</p>
        <p class="project-description">Social media prototype for doctors and
          patients from rare illnesses</p>
        <br>
      </div>

      <div class="project">
        <img src="assets/pd.png" width="75">
        <p class="project-title">PerfumeDivine</p>
        <p class="project-description">Perfume e-commerce webpage</p>
        <br>
      </div>

      <div class="project">
        <img src="assets/mikey.png" width="75">
        <p class="project-title">Trade Tracker</p>
        <p class="project-description">Discord bot to track futures and spot trades,
          intended to work as a personal journal for
          trades</p>
        <br>
      </div>
    </div>
  </div>
</div>
