<div class="work">
  <div class="work-header">
    <div class="title-section">
      <p class="section-title">Work</p>
      <p class="section-subtitle">Crafting Digital Artistry: A Portfolio of Code, Creativity, and Innovation</p>
    </div>
    <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
  </div>

  <div class="work-section">
    <div class="work-row">
      <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
      <div class="description-section">
        <p class="work-name">Name</p>
        <p class="work-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet justo nec lorem elementum placerat eu non libero. Nulla porttitor ornare lobortis. Morbi leo libero, ultrices et ligula ut, gravida dignissim nunc. Integer justo est, tincidunt et metus nec, pellentesque aliquam tortor. Curabitur varius consequat lacus nec sagittis. Vivamus hendrerit nisl eget commodo accumsan. Aenean id tellus rutrum lectus porta faucibus. Quisque eu dignissim justo, nec faucibus turpis. Suspendisse posuere, massa quis dapibus ultrices, diam ipsum aliquet enim, a dapibus velit sapien et neque. Nam suscipit, lectus et egestas congue, nisi eros eleifend nibh, in elementum velit tortor et elit. Integer volutpat dolor et nunc aliquet ornare. Vivamus nec quam et nisl ultricies ornare ac id felis. Mauris elit lorem, tincidunt mattis dignissim eu, pharetra sit amet dolor.
        </p>
      </div>
    </div>
  </div>
</div>
