<div class="work">
  <div class="work-header">
    <div class="title-section">
      <p class="section-title">Educational Projects</p>
      <p class="section-subtitle">Empowering Learning Through Code: A Showcase of Educational
        Innovations and Technological Triumphs</p>
    </div>
    <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
  </div>

  <div class="work-section">
    <div class="work-row">
      <img src="assets/screenshots/pl.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">PL/SQL and SQL Practices</p>
        <p class="work-description">
          Exercises in SQL and PL/SQL that include things such as advanced queries, stored procedures, cursors,
          triggers and abstract data types, designed to work in Oracle's Database manager
          <br><br>
        </p>
        <strong>Practices: </strong>
        <ul>
          <li><strong>Abstract Data Types</strong></li>
          <li><strong>Stored Procedures</strong></li>
          <li><strong>DML Triggers</strong></li>
          <li><strong>DDL Triggers</strong></li>
          <li><strong>Cursors</strong></li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">OVPNCTRL</p>
        <p class="work-description">
          The primary objective of this development is to implement a comprehensive management system that not
          only facilitates user administration within the company but also monitors connection statistics related
          to the organization's VPN usage.<br><br>
          <strong>Features: </strong>
        </p>
        <ul>
          <li><strong>User Management: </strong>Allows seamless management of company users, from onboarding
            to role assignment and permissions.</li>
          <li><strong>VPN Monitoring: </strong>Provides real-time analytics on VPN connections, including
            session times, data usage, and other relevant metrics.</li>
          <li><strong>Team Collaboration: </strong>Tailored dashboards for IT and Human Resources teams, offering
            insights into network usage patterns and potential security risks.</li>
          <li><strong>Secure Authentication: </strong>Implements secure web-based authentication to ensure only
            authorized personnel gain access to the system.</li>
          <li><strong>Multi-location Support: </strong>Designed to serve the needs of a multinational organization,
            offering centralized management across all three locations.</li>
        </ul>
      </div>
      <img src="assets/screenshots/ovpn.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/map.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">UC San Diego Map Assignments</p>
        <p class="work-description">
          This repository contains a menu to select the assignment to visualize. The list of assignments is:
          <br><br>
        </p>
        <strong>Assignments: </strong>
        <ul>
          <li><strong>Adjacent Maps: </strong>Displays two maps using MicrosoftHybridProvider, one map displays the
            location of UC San Diego, the other one displays the location of my hometown (Miranda - Venezuela)</li>
          <li><strong>Earthquake data map: </strong>Displays a world map with markers that have different styles
            according to the magnitude of the earthquake. Earthquake data are the most recent earthquakes extracted
            from an RSS Feed</li>
          <li><strong>Life expectancy map: </strong>Displays a world map of the life expectancy of each country,
            shades of blue mean higher life expectancy and shades of red mean lower life expectancy</li>
          <li><strong>Earthquake data map 2.0: </strong>Displays a world map with markers that have different styles
            according to the depth, age and the location of the earthquake. It also displays triangle shaped markers
            for major cities</li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">Jupyter Images</p>
        <p class="work-description">
          Final project of Python: Pillow, Tesseract and OpenCV from University Of Michigan<br><br>
          <strong>Assignments: </strong>
        </p>
        <ul>
          <li><strong>Colors: </strong>The program takes an image and creates 9 different variants with modified
            intensity values for certain channels (r, g, b)</li>
          <li><strong>Faces: </strong>The program takes an image and creates a new image with the faces detected in said image.</li>
        </ul>
      </div>
      <img src="assets/screenshots/jupyter.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/wof.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">Wheel of Fortune</p>
        <p class="work-description">
          Final project of Python Classes and Inheritance from University of Michigan, with some personal modifications
          for a more user friendly playable game<br><br>

          In this game the player will play against the Computer Player, the user enters the name of the players,
          the program will choose a random category and a random phrase and the game starts.
          <br><br>

          The player will spin the wheel and get a random prize, if they prize is bankrupt player loses all their
          money and the turn<br><br>

          The player will input in a textfield the letter they think it appears in the phrase, vowels have a cost
          of $250, so, unless the player has a balance equal or superior to that number they won't be able to input
          vowels. If the user inputs a letter that exists in the word they will gain as many money the wheel indicated
          multiplied for the number of occurrences of said word. For example:<br><br>

          <strong>PHRASE: </strong> You Gotta Fight Now<br>
          <strong>PRIZE IN WHEEL: </strong>500$<br>
          <strong>LETTER GUESSED: </strong>T<br><br>

          The number added to the balance will be: 2*500 = 1000<br><br>

          If the player guesses the word correctly they get to keep the turn, otherwise it will be the other player's
          (CPU). Given that the player has the advantage of guessing the whole word (which CPU hasn't), CPU doesn't
          have the possibility of going bankrupt or losing a turn in the wheel, so the game gets balanced a little bit.
        </p>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">FastRecommender</p>
        <p class="work-description">
          It's an application designed as the final project for the Python Data Collection and Processing
          course at the University of Michigan. This application employs the capabilities of the OMDB API and
          TasteDive API to offer an user-friendly experience for movie enthusiasts looking for recommendations
          and basic film information. I have enhanced the original project's premise to present the data in a more
          intuitive and interactive manner.
        </p>
      </div>
      <img src="assets/screenshots/fr.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/analysis.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">Sentiment Analysis</p>
        <p class="work-description">
          It's an analytics script designed to perform sentiment analysis on a dataset of synthetic Twitter data.
          Built with the primary goal of understanding the correlation between tweet sentiment and user engagement,
          the program employs text analysis algorithms to quantify the positivity or negativity of individual tweets.
          Made as final project for Python Functions, Files and Dictionaries from University of Michigan
        </p>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">Snakes & Ladders</p>
        <p class="work-description">
          Board game with RS232 connection for Networking I subject.
        </p>
        <br><br>
        <strong>Goals: </strong>
        <ul>
          <li>Create a graphic interface that allows the user interact with the game</li>
          <li>Use RS232 to create a functional and stable game</li>
          <li>Create an standard data protocol to connect with the players of the game</li>
          <li>Manage in an efficient way the concept of addressing</li>
        </ul>
      </div>
      <img src="assets/screenshots/snakes.png" class="ed-img-reverse">
    </div>


    <div class="work-row">
      <img src="assets/screenshots/circuit.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">Volume and Brightness controller</p>
        <p class="work-description">
          Console application that receives data sent from a PIC circuit, and according to the value it will either increase or decrease brightness/volume
          <br><br>
          <strong>Components: </strong>
        </p>
        <ul>
          <li>1 PIC16F84</li>
          <li>1 MAX232</li>
          <li>A	16 pin base and a 18 pin base</li>
          <li>1 Quartz Crystal (4MHz)</li>
          <li>1 20pF condenser</li>
          <li>4 Buttons</li>
          <li>5 Resistors of 10K Ohm</li>
          <li>4 10uF Tantalum condensers</li>
          <li>1 DB9 connector</li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">ToyToys prototype</p>
        <p class="work-description">
          ToyToys is a fictional store located in the New York City of United States of America. It started as store that used to sell a huge variety of articles, however, after the WW2 the world wide sellings of toys increased considerably, thanks to that, in 1953, the name of ToyToys was given to the store          <br><br>
        </p>
        <br><br>
        <strong>Goals: </strong>
        <ul>
          <li>Design a website prototype for Toy Toys store centered in the user (only interface)</li>
          <li>Identify the needs and the main characteristics of the potential users of the website</li>
        </ul>
      </div>
      <img src="assets/screenshots/tt.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/files.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">File system and signal management</p>
        <p class="work-description">
          Using UNIX system calls and tools, this console application called els (enhanced - ls) prints report files with the most important information of directories and subdirectories where the application is located
          <br><br>
          <strong>Information shown in each file: </strong>
        </p>
        <ul>
          <li>Absolute path of the directory</li>
          <li>Permissions, as they are shown when you execute the following command <code>ls -l</code></li>
          <li><code>user-id, group-id </code>from the directory's owner</li>
          <li>Last modified date and last access date</li>
          <li>Number of files contained in the directory (including subdirectories)</li>
          <li>Number of total bytes occupied by the files contained in that directory (does not include subdirectories)</li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">Proveneet</p>
        <p class="work-description">
          Web application that contemplates the following:
          <br><br>
        </p>
        <ul>
          <li><strong>User management: </strong>It is required that all the employees can access to the system (only employees)</li>
          <li><strong>Provider management: </strong>The users will be able to modify provider's data or delete it</li>
          <li><strong>Product management: </strong>The user will be able to modify product's data, delete products and add new products</li>
          <li><strong>Purchase orders management: </strong>This does not mean that the user will buy products from the app, this means that the user will be able to register and manage the purchase orders that are done by the company</li>
        </ul>
      </div>
      <img src="assets/screenshots/prov.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/pipes.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">Pipes and concurrent programming</p>
        <p class="work-description">
          Console application that applies crypting and decrypting using processes and pipes
          <br><br>
          <strong>Goals: </strong>
        </p>
        <ul>
          <li>Use the primitives fork, wait, exec, exit for concurrent process management</li>
          <li>Use pipes as communication mechanism between processes</li>
          <li>Use primitives to measure the execution time between processes/threads</li>
          <li>Use primitives to manage either binary or text files</li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">Forks & Threads on C</p>
        <p class="work-description">
          Console application that applies crypting and decrypting using processes and threads
          <br><br>
          <strong>Goals:</strong>
        </p>
        <ul>
          <li>Use the primitives fork, wait, exec, exit for concurrent process management</li>
          <li>Use primitives to measure the execution time between processes/threads</li>
          <li>Use primitives to manage either binary or text files</li>
        </ul>
      </div>
      <img src="assets/screenshots/ft.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/x86.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">x86 ASM Project</p>
        <p class="work-description">
          Console application controled by the keyboard's arrows, with the left and right arrows you advance or go behind, with the up arrow you avoid the obstacles that will be appearing in the screen as the user advances
          <br><br>
          <strong>Project details: </strong>
        </p>
        <ul>
          <li>To calculate the position of every obstacle it will be applied a pseudo random number generator algorithm</li>
          <li>When an obstacle is avoided, the program will calculate the angle of turn of the wheel using the following formula [(a,b)*(a-1,b-1)]*10 mod 90</li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">Numeric Methods</p>
        <p class="work-description">
          Various numeric methods' algorithms modeled in MATLAB
          <br><br>
          <strong>Algorithms modeled:</strong>
        </p>
        <ul>
          <li>Newton interpolation</li>
          <li>Polynomial interpolation</li>
          <li>Exponential regression</li>
          <li>Polynomial regression</li>
          <li>Simpson 1/3</li>
          <li>Simpson 3/8</li>
          <li>Trapezoidal rule</li>
        </ul>
      </div>
      <img src="assets/screenshots/numericmethods.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/cex.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">C Programming Exercises</p>
        <p class="work-description">
          Various basic algorithm's exercises written in C. Compiled with Visual Studio.
          <br><br>
          <strong>Exercises: </strong>
        </p>
        <ul>
          <li><strong>Combine two words: </strong>The program will ask the user to input text 1 and text 2 and it will return a combination between the words letter by letter, for instance</li>
          <li><strong>Sum the digits consecutively: </strong>Sum digits and if the result has more than 1 digit sum the digits again</li>
          <li><strong>Break down a number: </strong>Break down a number by its digits</li>
          <li><strong>Common digits: </strong>Given two numbers print a third one with the common digits between the first and the second number. Example: Given 721 and 717 the output of the program will be: 71. Do not repeat the numbers in the generated one.</li>
          <li><strong>Crypting: </strong>Given a word encode it at n positions forward in the alphabet. Example: Given the word hello and n = 2 the output of the program should be jfnnq, with the same word and n = 1 the output would be ifmmp</li>
          <li><strong>One dimension array average and maximum: </strong>Fill an one dimension array of 4 elements and calculate the average and the maximum value of it</li>
          <li><strong>Transposed matrix: </strong>Given a matrix (2 dimension array) calculate its transposed</li>
          <li><strong>Min number: </strong>Given a matrix calculate the minimum value</li>
          <li><strong>Matrix multiplication</strong></li>
          <li><strong>Grouping: </strong>Given an unidimensional array leave the even numbers at the beginning and the odd numbers at the end (same order they appear)</li>
        </ul>
        <br>
        <strong>Linked lists exercises: </strong>
        <ul>
          <li><strong>Insert element at the beginning and the end of the list</strong></li>
          <li><strong>Insert at the end of the list without repeating: </strong>Insert an element at the end of the list that doesn't exist in the list yet, if it already exists, throw an error</li>
          <li><strong>Insert element neatly and without repeating: </strong>Given this linked list: [4]->[17]->[32]->[84] by inserting the element 19 in it, the output of the program should be: [4]->[17]->[19]->[32]->[84]</li>
          <li><strong>Insert element before and after a given element</strong></li>
          <li><strong>Delete element: </strong>Delete an element, delete repeated elements and delete non composite numbers</li>
          <li><strong>Invert list: </strong>Given this linked list [4]->[17]->[32]->[84] the output of the program should be [84]->[32]->[17]->[4]</li>
          <li><strong>Show list</strong></li>
        </ul>
      </div>
    </div>

    <div class="work-row">
      <div class="description-section">
        <p class="work-name">P2Bank</p>
        <p class="work-description">
          The main idea of the system is that a person associated to this is able to send and receive money as long as the other person is also affiliated. All the data is loaded through a text file (.TXT), there will be used linked lists to manipulate the information and the modified data will be saved to the same text file when the execution of the program is over
          <br><br>
          <strong>Requeriments:</strong>
        </p>
        <ul>
          <li><strong>Data that will be registered to the system: </strong> ID, full name, address, phone number, associated bank accounts</li>
          <li><strong>Bank accounts: </strong>Each bank account contains an ID, a bank ID, type of account, balance</li>
          <li><strong>Transactions: </strong>Each transaction contains an ID, amount, type of transaction (payment, charging), date, ID of the person that will receive the transaction, description (40 characters maximum)</li>
        </ul>
      </div>
      <img src="assets/screenshots/pbank.png" class="ed-img-reverse">
    </div>

    <div class="work-row">
      <img src="assets/screenshots/earthquake.png" class="ed-img">
      <div class="description-section">
        <p class="work-name">Earthquake</p>
        <p class="work-description">
          Simple earthquake simulation, each of the given 1..9 regions contains 2 matrixes, one for the possible economic loss and another for the possible number of deaths after the earthquake, the program will calculate the total cost/# of victims and other relevant data.
          <br><br>
          <strong>Requeriments:</strong>
        </p>
        <ul>
          <li>The territory given will be a record with 1 to 9 regions. Each geographic region is represented by a matrix (M x N) where each item inside represents a geographic grid. Each region doesn't have more than 900 grids (M = 30 and N = 30 as maximum)</li>
          <li>Each earthquake has an epicenter, which is the spot where it is iniciated, the epicenter will be represented by a geographic grid [i, j].</li>
          <li>Each geographic region has 2 matrixes M x N, one represents COST. each grid represents economic losses to consider if an earthquake attacked given zone. There's as well a matrix that represents DEATHS, where the estimation of human losses will be saved. This data is rounded up and expressed as integer numbers.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
