@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

$blue: #007BFF;
$white: #F8F8F8;
$black: #1B1B1B;
$grey: #2E2E2E;

$nb-themes: nb-register-theme((
  // Header
  header-background-color: $blue,
  header-text-color: $white,

  // Footer
  footer-background-color: $grey,
  footer-text-color: $white,
  footer-divider-color: $grey,

  // Layout
  layout-background-color: $black,
  layout-text-color: $white,
  text-basic-color: $white,

  // Icon
  icon-basic-color: $white,
), default, default);
