<div class="introduction">
  <div class="introduction-content">
    <div class="row">
      <div class="salute">
        <p class="salute-text">
          <nb-icon icon="hand-peace" pack="font-awesome"></nb-icon>
          Hello! Great to have you here
        </p>
      </div>
      <p class="introduction-title">Tech Alchemist: Crafting Solutions as an Informatics Engineer</p>
      <p class="introduction-text">
        Welcome to my digital realm, where innovation meets implementation. I am an informatics engineer
        with an insatiable curiosity for crafting solutions that bridge the gap between imagination and
        technology. In this portfolio, I invite you to explore a collection of projects that showcase my
        journey through the intricate landscapes of code, algorithms, and digital systems. With a
        commitment to excellence and a passion for pushing the boundaries of what's possible, I present
        a tapestry of achievements that highlight my dedication to creating meaningful, efficient, and
        elegant solutions.
      </p>
    </div>
    <img src="assets/picrew-1-flipped.png" class="title-decoration-image">
  </div>
</div>
