<div class="introduction">
  <div class="introduction-content">
    <div class="row">
      <div class="salute">
        <p class="salute-text">
          <nb-icon icon="hand-peace" pack="font-awesome"></nb-icon>
          Hello! Great to have you here
        </p>
      </div>
      <p class="introduction-title">Tech Alchemist: Crafting Solutions as an Informatics Engineer</p>
      <p class="introduction-text">
        Welcome to my digital realm, where innovation meets implementation. I am an informatics engineer
        with an insatiable curiosity for crafting solutions that bridge the gap between imagination and
        technology. In this portfolio, I invite you to explore a collection of projects that showcase my
        journey through the intricate landscapes of code, algorithms, and digital systems. With a
        commitment to excellence and a passion for pushing the boundaries of what's possible, I present
        a tapestry of achievements that highlight my dedication to creating meaningful, efficient, and
        elegant solutions.
      </p>
    </div>
    <img src="assets/picrew-1-flipped.png" class="title-decoration-image">
  </div>
</div>

<div class="tooling">
  <p class="section-title">Tooling</p>
  <div class="tooling-content">
    <div class="tooling-row">
      <div class="tool">
        <nb-icon icon="angular" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Angular</p>
      </div>

      <div class="tool">
        <nb-icon icon="vuejs" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Vue JS</p>
      </div>

      <div class="tool">
        <nb-icon icon="d" pack="font-awesome"></nb-icon>
        <p class="tool-name">Django</p>
      </div>

      <div class="tool">
        <nb-icon icon="laravel" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Laravel</p>
      </div>

      <div class="tool">
        <nb-icon icon="node-js" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Node JS</p>
      </div>

      <div class="tool">
        <nb-icon icon="bolt" pack="font-awesome"></nb-icon>
        <p class="tool-name">Fast API</p>
      </div>

      <div class="tool">
        <nb-icon icon="database" pack="font-awesome"></nb-icon>
        <p class="tool-name">SQL</p>
      </div>

      <div class="tool">
        <nb-icon icon="java" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Java</p>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="programming skill">
    <div class="skill-set">
      <p class="section-title">Programming</p>
      <p class="skill-description">
        I work with clients to understand their needs and challenges, and then design
        innovative solutions that are tailored to their specific requirements. This often
        involves complex problem-solving and creative thinking. <br>

        Using languages like Python, JavaScript and others, I develop clean,
        efficient, and reusable code. My work ranges from building web
        applications to creating complex algorithms for data analysis.
      </p>
    </div>
    <nb-icon icon="computer" pack="font-awesome"></nb-icon>

  </div>

  <div class="engineering skill">
    <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
    <div class="skill-set">
      <p class="section-title">Engineering</p>
      <p class="skill-description">
        I'm equipped with the right tools in the realm of writing documentation and designing
        software architecture. I collaborate with stakeholders to understand their needs and
        requirements, I design scalable and robust software architectures that align with
        organizational goals and I develop comprehensive architectural diagrams and
        blueprints that guide the development team, ensuring consistency and adherence
        to best practices.
      </p>
    </div>
  </div>
</div>

