/* TITLE STYLES */
.introduction {
  background: url('../../assets/pattern-title.jpg') repeat;
}

.salute {
  margin-top: 5rem;
  background-color: #4AA0FF;
  border-radius: 5px;
  padding: 10px;
  max-width: 300px;
  max-height: 50px;
  display: flex;
  justify-content: center;
}

.salute-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
}

.salute-text nb-icon {
  margin-right: 0.5rem;
}

.introduction-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: #4AA0FF;
}

.introduction-text {
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: column; /* Contents inside the row are stacked vertically */
  margin-bottom: 2rem;
}

/* Desktop styles */
@media only screen and (min-width: 769px) {
  .introduction-content {
    display: flex; /* Set to flex to allow row and image to be in the same line */
    align-items: flex-start; /* Aligns children at the start */
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .introduction-text, .introduction-title {
    margin-bottom: 10px; /* Spacing between items in the row */
  }

  .title-decoration-image {
    margin-top: 2rem;
    width: 400px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .salute {
    display: none;
  }

  .introduction-content {
    display: flex; /* Set to flex to allow reordering */
    flex-direction: column; /* Items stack vertically */
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .introduction-content img {
    order: -1; /* Make the image appear first */
  }

  .row {
    order: 1; /* Make the row appear after the image */
  }

  .title-decoration-image {
    margin-top: 2rem;
    width: 250px;
  }

  .introduction-title {
    text-align: center;
  }
}

/* TOOLING STYLES */
.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #4AA0FF;
  margin-top: 2rem;
}

.tooling-content {
  background-color: #037CFE; /* for desktop */
  display: flex;
}

.tool {
  background-color: #1B1B1B; /* for desktop */
  min-width: 200px; /* for desktop */
  min-height: 75px;
  margin: 1rem; /* Adding a little space between tools */
  display: flex;
  align-items: center; /* This will ensure the icon and text align properly */
  justify-content: center; /* This ensures the content starts from the left */
}

nb-icon, .tool-name {
  color: #4AA0FF; /* for desktop */
}

.tool nb-icon {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.tool-name {
  font-weight: bold;
  margin-left: 0.3rem;
}

.tooling-row {
  display: flex;
  flex-wrap: wrap; /* To make sure they wrap to next row when they run out of space */
  justify-content: center; /* Start tools from the left */
}

@media (min-width: 769px){
  .tooling-content {
    margin: 2rem 5rem 5rem 5rem;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .tooling-content {
    background-color: transparent;
    margin-bottom: 2rem;
  }

  .tool {
    background-color: #037CFE;
    min-width: 200px;
  }

  nb-icon, .tool-name {
    color: #1B1B1B;
  }
  .tool-name {
    color: #F6F6F6;
  }
}
