<div class="introduction">
  <div class="introduction-content">
    <div class="row">
      <div class="salute">
        <p class="salute-text">
          <nb-icon icon="hand-peace" pack="font-awesome"></nb-icon>
          Hello! Great to have you here
        </p>
      </div>
      <p class="introduction-title">Tech Alchemist: Crafting Solutions as an Informatics Engineer</p>
      <p class="introduction-text">
        Welcome to my digital realm, where innovation meets implementation. I am an informatics engineer
        with an insatiable curiosity for crafting solutions that bridge the gap between imagination and
        technology. In this portfolio, I invite you to explore a collection of projects that showcase my
        journey through the intricate landscapes of code, algorithms, and digital systems. With a
        commitment to excellence and a passion for pushing the boundaries of what's possible, I present
        a tapestry of achievements that highlight my dedication to creating meaningful, efficient, and
        elegant solutions.
      </p>
    </div>
    <img src="assets/picrew-1-flipped.png" class="title-decoration-image">
  </div>
</div>

<div class="tooling">
  <p class="section-title">Tooling</p>
  <div class="tooling-content">
    <div class="tooling-row">
      <div class="tool">
        <nb-icon icon="angular" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Angular</p>
      </div>

      <div class="tool">
        <nb-icon icon="vuejs" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Vue JS</p>
      </div>

      <div class="tool">
        <nb-icon icon="d" pack="font-awesome"></nb-icon>
        <p class="tool-name">Django</p>
      </div>

      <div class="tool">
        <nb-icon icon="laravel" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Laravel</p>
      </div>

      <div class="tool">
        <nb-icon icon="node-js" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Node JS</p>
      </div>

      <div class="tool">
        <nb-icon icon="bolt" pack="font-awesome"></nb-icon>
        <p class="tool-name">Fast API</p>
      </div>

      <div class="tool">
        <nb-icon icon="database" pack="font-awesome"></nb-icon>
        <p class="tool-name">SQL</p>
      </div>

      <div class="tool">
        <nb-icon icon="java" pack="font-awesome-brands"></nb-icon>
        <p class="tool-name">Java</p>
      </div>
    </div>
  </div>
</div>
