<div class="work">
  <div class="work-header">
    <div class="title-section">
      <p class="section-title">Work</p>
      <p class="section-subtitle">Crafting Digital Artistry: A Portfolio of Code, Creativity, and Innovation</p>
    </div>
    <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
  </div>


  <div class="work-row">
    <img src="assets/screenshots/onu.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">Survey about entrepreneurship in women</p>
      <p class="work-description">
        ONU Women, in the Win-Win program (joint with ILO and founded by the European Union) and PROCOMER are doing a survey about the aspects related to the offer of products and services and the necessities of the businesses leaded by women in Costa Rica. For this reason, we are needing your support to answer questions related to this.

        A lot of companies are participating in this initiative because a directory of businesses leaded by women will be built with this information, also, it's expected for us to know the specific necessities of each company with the goal of creating programs and projects to help with those to promote more and better oportunities for entrepreneur women

        ONU Mujeres & Procomer will take care of the confidentiality of your answers and we will publish the general stats, not individual answers, using it with investigative purposes exclusively.
        <br><br>
      </p>
    </div>
  </div>
</div>
