<div class="work">
  <div class="work-header" appAnimations [animationName]="'slideUp'">
    <div class="title-section">
      <p class="section-title">Work</p>
      <p class="section-subtitle">Crafting Digital Artistry: A Portfolio of Code, Creativity, and Innovation</p>
    </div>
    <img class="engineering-img" src="assets/picrew-2.png" alt="Engineering Image">
  </div>

  <div class="work-row" appAnimations [animationName]="'slideIn'">
    <div class="description-section">
      <p class="work-name">RTrader</p>
      <p class="work-description">
        It's a software application designed to automate and optimize trading operations with the use of algorithms
        based on strategies used by top traders that can be found in trading books. The bot analyzes market data,
        identifies trends and executes trades on behalf of the user.<br><br>

        It offers a data-driven approach to trading, leveraging real-time market analysis and historical data to
        make informed decisions and removes emotional biases from the trading process.<br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>User Interface: </strong> Desktop user-friendly interface for easy usage</li>
        <li><strong>Discord Integration: </strong> Discord authentication and webhook notifications</li>
        <li><strong>Multi-Exchange Support: </strong> The application supports the interaction with multiple crypto
        exchanges and brokers</li>
      </ul>
    </div>
    <img src="assets/screenshots/rt.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appAnimations [animationName]="'reverseSlideIn'">
    <img src="assets/screenshots/vector.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">ChatLogic Vector Database</p>
      <p class="work-description">
        The overarching objective of this initiative is to revolutionize the technical support operations at
        Shocklogic Company by developing and implementing a vectorial database that will significantly boost
        the conversational prowess of the existing chatbot. Currently, the chatbot operates on a SQL database
        and utilizes a relatively rudimentary search algorithm to answer queries. This search algorithm functions
        by matching labels stored in a database table with the keywords or phrases present in the user's input.
        While functional, this approach has its limitations in terms of adaptability and the ability to understand
        nuanced queries. By transitioning to a vectorial database, it is aimed to leverage more advanced computational
        techniques to interpret natural language, thus delivering more precise, contextually relevant responses
        to the users. This transformation will not only improve the customer experience but also streamline
        the process for the technical support team by reducing the likelihood of errors and misunderstandings.<br><br>
      </p>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">PokerGPT</p>
      <p class="work-description">
        <strong>Unleash Your Poker Potential:</strong> Introducing our application designed to elevate your poker game to new heights. Seamlessly combining advanced algorithms with your strategic input, our cutting-edge platform calculates the optimal moves based on the conditions you provide. Say goodbye to uncertainty and hello to winning strategies. Whether you're a seasoned pro or just starting your poker journey, our app empowers you with unparalleled insights and precision. Prepare to dominate the tables and unleash your true poker prowess with our game-changing application.
        <br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Extended Form: </strong> A comprehensive input form that allows you to specify conditions, rules, and player behaviors for more tailored poker strategies.</li>
        <li><strong>Payment Gateway: </strong> Safe and secure payment options to upgrade to a premium membership, unlocking advanced features and real-time strategy updates.</li>
        <li><strong>Multi-Platform Support: </strong> Whether you're on desktop or mobile, our application is fully responsive and optimized for all devices.</li>
        <li><strong>AI Advisor: </strong> A built-in AI poker advisor that provides tips, highlights potential pitfalls, and suggests optimal moves based on the current game state.</li>
      </ul>
    </div>
    <img src="assets/screenshots/pgpt.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/cltg.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">ChatLogic Telegram Bot</p>
      <p class="work-description">
        As an extension of the comprehensive Shocklogic Business Intelligence & Chatbot System, we present the
        Telegram Bot Module. This specialized Telegram bot aims to broaden customer outreach by offering the core
        functionalities of the original system in the widely-used Telegram platform.<br><br>
      </p>
      <strong>Commands: </strong>
      <ul>
        <li><strong>/support: </strong>Make a question or get help about a Shocklogic product</li>
        <li><strong>/license: </strong>Get a pricing estimate of a Shocklogic product</li>
        <li><strong>/bizdev: </strong>Contact bizdev regarding a product sale</li>
        <li><strong>/help: </strong>Get a description of the bot and its functions</li>
        <li><strong>/restart: </strong>Restart bot</li>
      </ul>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">ChatLogic</p>
      <p class="work-description">
        Technical support chatbot that uses Natural Language Understanding techniques to understand user's
        inputs and intents and generates content using a database. It's intended in case an user needs help
        with a specific Shocklogic product.
        <br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Hybrid Chatbot: </strong>The chatbot uses artificial intelligence to process and understand user
          messages. While it has AI capabilities, its responses are pre-defined by the developer.</li>
        <li><strong>Analytical OLAP System: </strong>An OLAP (Online Analytical Processing) system facilitates
          decision-making through the collection, storage, and analysis of data.</li>
      </ul>
    </div>
    <img src="assets/screenshots/cl.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/mik.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">Trade Tracker</p>
      <p class="work-description">
        It's a tool designed to streamline and optimize the trading experience within the Discord community.
        This bot offers a suite of features focused on enabling traders to simulate trades, check real-time prices,
        set alerts, and receive important market updates. Prioritizing user engagement and utility, this
        bot aims to be an essential companion for traders.<br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Paper Trading (futures and spot): </strong>Users can open a simulated or "paper" futures
          trading position through the bot. Notifications will be triggered when the position hits predefined
          take-profit (TP) and stop-loss (SL) levels.</li>
        <li><strong>Price Checker: </strong>Users can check the real-time price of any token by using a specific
          command within Discord.</li>
        <li><strong>Price Alerts: </strong>Allows users to set up alerts that trigger when a price rises above
          or falls below a predetermined level.</li>
        <li><strong>Trading Reports: </strong>Store users' trading history and display relevant statistics.
          Reports will include monthly breakdowns featuring each trade's pair, leverage, margin, profit and loss
          (PNL), and return on investment (ROI). Cumulative ROI and PNL will also be shown for each month.</li>
      </ul>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Vacanze</p>
      <p class="work-description">
        It's a web-based application designed to simplify and revolutionize the experience of booking flights.
        Aimed at travelers, travel agencies, and airlines alike, this platform serves as a one-stop-shop for
        all flight booking needs, providing real-time data, a user-friendly interface, and a range of features
        that ensure a seamless booking process.
        <br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Flight Search Engine: </strong>Utilizes a robust search algorithm to offer users the most
          cost-effective and convenient flight options based on various parameters such as destination, date,
          and seat class./li>
        <li><strong>Multi-City Bookings: </strong>Enables users to book flights to multiple destinations in a single transaction.</li>
        <li><strong>Personal Profiles: </strong>Users can create accounts to save travel preferences, view booking history, and manage future trips more efficiently.</li>
        <li><strong>Booking Management: </strong>Users can modify or cancel bookings with minimal hassle.</li>
      </ul>
    </div>
    <img src="assets/screenshots/va.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/bc.png" class="ed-img-smaller">
    <div class="description-section">
      <p class="work-name">Bob</p>
      <p class="work-description">
        Bob is a specialized Discord Bot created for personal usage to streamline and enhance the process of
        organizing and managing events within Discord communities. Acting as a user-friendly interface,
        the bot comes packed with various utility functions tailored for event management<br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Event Creation: </strong>Enables quick and efficient setup of new events with customizable parameters such as date, time, and roles allowed to participate.</li>
        <li><strong>Event Logs: </strong>Keeps a detailed log of all events, providing useful data for future planning.</li>
        <li><strong>Mogenius Integration: </strong>Mogenius is a leading platform for deploying dockerized applications.
          This integration is aimed at enhancing the bot's capabilities while providing a scalable and reliable hosting environment.</li>
      </ul>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Auto Moderator</p>
      <p class="work-description">
        The TOS Auto Moderator is a Google Chrome extension designed to automate the moderation process in the
        Trial System of an online game. Leveraging machine learning algorithms and built-in logic, the extension
        casts votes on player reports with a high degree of accuracy. Created to streamline the report judgment
        process, this extension assumes that most users submit accurate report details, based on which it carries
        out its voting mechanism.
        <br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Voting Modes: </strong>Everything innocent, 80% innocent, smart voting, skip everything except lists of specific reports</li>
        <li><strong>Skip Modes: </strong>Linear, random, skip every report until certain report ID</li>
        <li><strong>Different behaviors according to report category </strong></li>
      </ul>
    </div>
    <img src="assets/screenshots/am.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/mu.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">Mercadeo U</p>
      <p class="work-description">
        It's a comprehensive software solution aimed at streamlining the various facets of market research,
        from user authentication to conducting surveys. Designed with a multi-tiered user interface, the system
        caters to administrators, analysts, and clients of a business, ensuring that each stakeholder's unique
        needs are addressed.<br><br>
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Account Management: </strong>Provides features for user login, registration, and password recovery or reset.</li>
        <li><strong>Market Studies: </strong>Allows clients to request market studies and check the status of ongoing studies.</li>
        <li><strong>Product & Category Management: </strong>Manages categories, subcategories, brands, types, and presentations of products needed for market studies.</li>
        <li><strong>Survey Management: </strong>Administers questions and studies for automated market research surveys.</li>
        <li><strong>User Management: </strong>Provides system administrators the ability to manage users within the system.</li>
        <li><strong>Study Management for Analysts: </strong>Allows analysts to consult assigned studies and associated data.</li>
        <li><strong>Survey Participation: </strong>Allows respondents to search for studies they are eligible for and
          participate by responding to surveys.</li>
      </ul>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Town Of Salem Bot</p>
      <p class="work-description">
        The Town of Salem Automation Bot is bot designed to autonomously participate in the text-based Unity game,
        Town of Salem. It mimics human player behavior, undertakes role actions, and logs all game activity.
        The bot is designed to play in two game modes specifically: Ranked and Ranked Practice. This project
        aims to provide a near-human-level gaming experience in the Town of Salem environment.
        <br><br>
      </p>
    </div>
    <img src="assets/screenshots/sb.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/pd.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">PerfumeDivine</p>
      <p class="work-description">
        PerfumeDivine E-commerce Platform is a sophisticated online marketplace designed exclusively for the sale
        and distribution of a wide range of perfumes, from everyday fragrances to high-end luxury scents.
        This project aims to create a seamless shopping experience for perfume aficionados.<br><br>
      </p>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Netdoc</p>
      <p class="work-description">
        Netdoc is a specialized social media platform aimed to serve as a nexus between doctors and patients dealing with rare illnesses. Conceived as a freelancing project, this platform focuses on fostering a supportive and informative community, facilitating crucial interactions that could lead to better patient outcomes and professional collaboration.
        <br><br>
      </p>
      <strong>Goals: </strong>
      <ul>
        <li>Facilitate meaningful interactions between doctors.</li>
        <li>Enable supportive conversations among patients.</li>
        <li>Serve as a bridge for doctor-patient communication.</li>
      </ul>
    </div>
    <img src="assets/screenshots/netdoc.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/c19.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">COVID-19 Reporting system</p>
      <p class="work-description">
        PLSQL Database design to support reports about the people infected with COVID-19
        <br><br>
      </p>
      <strong>Goals: </strong>
      <ul>
        <li>Create reports using Jaspersoft Studio with the most relevant information about COVID-19 infections worldwide</li>
        <li>Build a datamart that uses ETL (Extraction, Transformation, Loading) processes in order to get information from peer's databases</li>
        <li>Create and configure user's roles and privileges in the database</li>
        <li>Create and execute procedures that simulate in real time the infection process, internet usage, border closing, etc</li>
      </ul>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Neutron Landing</p>
      <p class="work-description">
        Enhance your online presence with our stunning, fully responsive Landing Page template specifically designed for agencies. Built using Materialize CSS and HTML5, this template embodies both beauty and simplicity, allowing you to convey your message effortlessly. One of the standout features is its mobile-responsive design, ensuring that your content looks pristine on devices of all sizes.
        <br><br>
        What sets our template apart is its streamlined architecture: there's absolutely no reliance on external libraries, and you won't find any overly complicated JavaScript code. This makes customization a breeze, even for those with minimal coding experience. The clean, efficient backend also contributes to faster load times and improved SEO performance, providing your visitors with an optimal user experience.
      </p>
    </div>
    <img src="assets/screenshots/landing.jpg" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/perc.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">PerCapital</p>
      <p class="work-description">
        PER CAPITAL offers easy access to Premium investment portfolios in Capital Markets, Real Estate and Venture Capital Projects, previously evaluated and approved by our experts, for institutional and private investors.
        <br><br>

        In any economy it is important to take actions to protect the asset value, preserve the capital and take advantage of the opportunities offered by the market.
        <br><br>
      </p>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Reading Club</p>
      <p class="work-description">
        The Community Reading Club Management System is a comprehensive digital platform designed to facilitate the smooth operation and interaction of various reading clubs affiliated with our local library. This project, carried out on a volunteer basis, aims to serve reading clubs catering to different age groups: adults (18 and above), kids (9-12), and teens (13-17).
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Managing clubs: </strong>Managing basic data (includes associations with other clubs); reading groups control; managing members (includes payment management), and management of books</li>
        <li><strong>Managing meetings: </strong>Manage monthly meetings; choosing the book and the moderators for each meeting; attendance control and closing discussions</li>
        <li><strong>Planning and executing theater plays: </strong>Managing plays (including characters), manage planned plays; manage scoring of actors and plays</li>
      </ul>
    </div>
    <img src="assets/screenshots/reading.png" class="ed-img-reverse">
  </div>

  <div class="work-row" appScrollDetector [animationType]="'reverseSlideIn'">
    <img src="assets/screenshots/onu.png" class="ed-img">
    <div class="description-section">
      <p class="work-name">Survey about entrepreneurship in women</p>
      <p class="work-description">
        ONU Women, in the Win-Win program (joint with ILO and founded by the European Union) and PROCOMER are doing a survey about the aspects related to the offer of products and services and the necessities of the businesses leaded by women in Costa Rica. For this reason, we are needing your support to answer questions related to this.

        A lot of companies are participating in this initiative because a directory of businesses leaded by women will be built with this information, also, it's expected for us to know the specific necessities of each company with the goal of creating programs and projects to help with those to promote more and better oportunities for entrepreneur women

        ONU Mujeres & Procomer will take care of the confidentiality of your answers and we will publish the general stats, not individual answers, using it with investigative purposes exclusively.
        <br><br>
      </p>
    </div>
  </div>

  <div class="work-row" appScrollDetector>
    <div class="description-section">
      <p class="work-name">Constructores 3000</p>
      <p class="work-description">
        It's a Java desktop application designed to simplify the management of providers and their respective products.
        Whether you are a retailer, distributor, or a business owner dealing with multiple providers, this application
        serves as a one-stop solution to efficiently manage provider information and product catalog.
      </p>
      <strong>Features: </strong>
      <ul>
        <li><strong>Provider Management:  </strong>
          Seamlessly add, update, or delete provider information, including contact details.</li>
        <li><strong>Product Catalog:  </strong>
          Create and manage an organized catalog of products, complete with product descriptions and prices.</li>
        <li><strong>User Authentication:  </strong>
          User authentication to secure sensitive data and allow role-based access.</li>
      </ul>
    </div>
    <img src="assets/screenshots/c3.png" class="ed-img-reverse">
  </div>
</div>
